#campus_map
{
    position: relative;
    overflow: auto;

    a
    {
        display: block;      
        position: absolute;
        // border: 1px solid magenta; // Uncomment to show bounding boxes of border
    }

    img
    {
        // max-height: 100%;
        max-width: 100%;
    }
}
