@import "colors.scss";

// When calling 'headings', makes all headings receive the content
@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

// img,
// a {
//         user-drag: none;
//         -webkit-user-drag: none;
//         user-select: none;
//         -moz-user-select: none;
//         -webkit-user-select: none;
//         -ms-user-select: none;
// }

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}

.major {
    margin: 5px;
    background-color: $oit_blue;
}
  
// Font family decisions copied from OIT website
*
{
    font-family: "Roboto", Arial, sans-serif;

    // Disallow selecting of text for a better user experience on the kiosk
    user-select: none;
    cursor: none;
}

html
{
    cursor: none;
}

@include headings
{
    font-family: "Archivo Narrow", sans-serif;
}

// TODO: Move to correct file
#building-crop-1 img
{
    margin: -100px -1 0 10 !important;
}

// Moved to the nav.ejs


.hootie_logo img 
{
  width: 20%;
}

.center
{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.crop 
{
    overflow: hidden;
}

.cover
{
    overflow: hidden;
    padding: 0px 2px 2px 0px;
    img
    {

        object-fit: cover;
        object-position: center; // Center the image within the element
        width: 100%;

        height: 15vh;
    }

    &.main
    {
        img
        {

            height: 20vh;
        }
    }
}

.blue-box
{
    padding: 5px 5px !important;
    margin-bottom: 2px;

    height: 100vh;
    
    background-color: $oit_blue;

    a:hover
    {
        color: white;
    }

    *
    {
        color: white;
    }

    p
    {
        margin: 0
        {
            left: 5px;
            bottom: 5px;
        }
    }

    // See @mixins above
    @include headings 
    {
        margin: 0px;
    }
}

.scroll
{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    // IE and Edge
    scrollbar-width: none !important;
    // Firefox
}

.oit-card
{
    // display: inline-block;
    // float: none;
    padding: 0;

    text-align: center;

    position: relative;

    background-size: cover; // Fill entire space
    background-position: 50% 50%; // Center on div
    background-repeat: no-repeat; // Don't repeat background

    height: 100%;

    &::before
    {
        content: "";
        float: left;
        padding-top: 100%;
    }

    &:hover &-text
    {
        height: 30%;
    }

    &-text // & can be used to concatenate on other text. Will become .oit-card-text
    {
        height: 20%;
        transition: height 0.1s;
        position: absolute;
        width: 100%;
        bottom: 0px;
        color: white;

        background-color: rgba($color: $oit_blue, $alpha: 0.9);

        p
        {
            font-size: large;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.vertical {
    position: absolute;
    top: 50%;
    transform: rotate(-0.25turn);
    text-align: center;
    font-size: 3rem;
    white-space: nowrap;
}


.oit-button
{
    width: 100%;
    p
    {
        color: white;
    }
}

.width-25 {
    width: 25%;
}

