// Variable delcarations
$oit_blue: #003767;
$techweb_lightblue: #5e9ccc;
$oit_gold: #ffd14e;

// When calling 'headings', makes all headings receive the content
@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

.major {
    margin: 5px;
    background-color: #003767;
  }
  
// Font family decisions copied from OIT website
*
{
    font-family: "Roboto", Arial, sans-serif;

    // Disallow selecting of text for a better user experience on the kiosk
    user-select: none;
}

@include headings
{
    font-family: "Archivo Narrow", sans-serif;
}

// TODO: Move to correct file
#building-crop-1 img
{
    margin: -100px -1 0 10 !important;
}

.navbar-brand img 
{
  width: 50%;
}
.hootie_logo img 
{
  width: 20%;
}
.page_bottom
{
    padding-bottom: 100px;
}
.center
{
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.crop 
{
    overflow: hidden;
}

.cover
{
    overflow: hidden;
    padding: 0px 2px 2px 0px;
    img
    {

        object-fit: cover;
        object-position: center; // Center the image within the element
        width: 100%;

        @media screen and (max-width: 768px) 
        {
            &
            {
                height: 15vh;
            }
        }

        height: 35vh;
    }

    &.main
    {
        img
        {
            @media screen and (max-width: 768px) 
            {
                &
                {
                    height: 20vh;
                }
            }

            height: 40vh;
        }
    }
}

.blue-box
{
    padding: 5px 5px !important;
    margin-bottom: 2px;
    
    background-color: $oit_blue;

    *
    {
        color: white;
    }

    p
    {
        margin: 0
        {
            left: 5px;
            bottom: 5px;
        }
    }

    // See @mixins above
    @include headings 
    {
        margin: 0px;
    }
}

.scroll
{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.oit-card
{
    // display: inline-block;
    // float: none;
    padding: 0;

    text-align: center;

    position: relative;

    height: 100%;

    &::before
    {
        content: "";
        float: left;
        padding-top: 100%;
    }

    &:hover &-text
    {
        height: 30%;
    }

    &-text // & can be used to concatenate on other text. Will become .oit-card-text
    {
        height: 20%;
        transition: height 0.1s;
        position: absolute;
        width: 100%;
        bottom: 0px;
        color: white;

        background-color: rgba($color: $oit_blue, $alpha: 0.9);

        p
        {
            font-size: large;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

[id^=card-img] // identifiers that start with 'card-img'
{
    background-size: cover; // Fill entire space
    background-position: 50% 50%; // Center on div
    background-repeat: no-repeat; // Don't repeat background

    // position: relative;
}

.oit-button
{
    width: 100%;
    p
    {
        color: white;
    }

    // [^=]
}