@import "colors.scss";

:root
{
    --banner-speed: 60s;
    --repeat-at: -50%;
}

.click
{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $oit_blue;
    color: white;
    padding: 12px 48px;
    margin-bottom: 24px;
    border-radius: 5000px;
}

a 
{
    color: white;
    text-decoration: none;
}



#container {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

// Mostly taken from https://stackoverflow.com/a/63454409

.photobanner 
{
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    animation: bannermove var(--banner-speed) linear infinite;
    display: flex;
    justify-content: flex-end;

    img 
    {
            margin-left: auto;
            order: 2;
            height: 100vh;
    }
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(var(--repeat-at), 0);
    }
}