@import "colors.scss";

:root
{
    --start-image-percent: -50%
}

.click
{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $oit_blue;
    color: white;
    padding: 12px 48px;
    margin-bottom: 24px;
    border-radius: 5000px;
}

a 
{
    color: white;
    text-decoration: none;
}



#container {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.photobanner {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: bannermove 30s linear infinite;
}

img {
    height: 100vh;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}