@import "colors.scss";

.scroll
{
    display: flex;
    div
    {
        img
        {
            width: 100vw;
            height: 100vh;
        }
        display: flex;
        flex: 1;
    }
}

.click
{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $oit_blue;
    color: white;
    padding: 12px 24px;
    margin-bottom: 24px;
    border-radius: 5000px;
}

a 
{
    color: white;
    text-decoration: none;
}