.vs/
.vscode/*
node_modules/
build/
css/
public/css
**/desktop.ini

# Ignore all json files except for eslint, settings, and npm files
*.json
!.eslintrc.json
!settings.json
!package.json
!package-lock.json
