<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head"); %>
    <link rel="stylesheet" href="css/building.css">

    <title>Purvine Hall</title>
</head>

<body>
    <table class="container-fluid">
        <tr class="row m-auto">
            <td class="col-12 cover main" id="building-crop-1">
                <img src="images/purvine1.jpg">
            </td>
        </tr>
        <tr class="row m-auto">
            <td class="col-4 cover"><img src="images/purvine2.jpg"></td>
            <td class="col-4 cover"><img src="images/purvine3.jpg"></td>
            <td class="col-4 cover"><img src="images/purvine4.jpg"></td>
        </tr>
        <tr class="row m-auto">
            <td class="col-4 blue-box">
                <h4>Quick Facts</h4>
                <h5>Built</h5>
                <p>0000</p>
                <h5>Primary Majors</h5>
                <p>Software</p>
                <p>Embedded</p>
                <p>Electrical</p>
            </td>
            <td class="col-8">
                <h1 class="title">Purvine Hall</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, molestias praesentium! Minus eum,
                    eaque laborum nemo quae eos velit aut at mollitia asperiores, sint unde dolorum doloribus
                    repellendus modi dolores!
                </p>
            </td>
        </tr>

    <!-- Images for this file are stored in css/building.scss -->
    <tr class="row m-0">
        <td class="col-3 p-1">
            <div class="oit-card" id="card-img-1">
                <div class="oit-card-text">
                    <p>CEET</p>
                </div>
            </div>
        </td>
        <td class="col-3 p-1">
            <div class="oit-card" id="card-img-2">
                <div class="oit-card-text">
                    <p>College Union</p>
                </div>
            </div>
            
        </td>
        <td class="col-3 p-1">
            <div class="oit-card" id="card-img-3">
                <div class="oit-card-text">
                    <p>Dow Center</p>
                </div>
            </div>
            
        </td>
        <td class="col-3 p-1">
            <div class="oit-card" id="card-img-4">
                <div class="oit-card-text">
                    <p>Snell Hall</p>
                </div>
            </div>
            
        </td>
    </tr>
    </table>

    <script src="build/bootstrap.bundle.js"></script>
</body>
</html>