<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/campus_map.css">

    <meta name="mobile-web-app-capable" content="yes">
    <title>OIT Info Home</title>
</head>

<body>
    <table class="container-fluid">
        <div id="page_banner">
            <tr class="row">
                <td class="col-8">
                    <img class="img-fluid" src="https://www.oit.edu/themes/custom/oregontech/images/logo.png">
                </td>
                <td class="col-4">
                    <img class="img-fluid" src="https://oregontechowls.com/images/main_logo.png">
                </td>
            </tr>
        </div>
        <tr class="row" id="major_exploration">
            <td class="col-12">
                <h1>
                    Get to know your options
                </h1>
                <a src="/major_select"></a>
            </td>
        </tr>
        <tr class="row" id="popular_majors">
            <td class="col-12">
                <h2 text-align="center">Most Popular Majors</h2>
            </td>
        </tr>
        <tr class="row">
            <td class="col-3 p-1" id="card-img-1">
                <div class="oit-card" id="card-img-1">
                    <div class="oit-card-text">
                        <p id="major-1">Software Engineering</p>
                    </div>
                </div>
            </td>
            <td class="col-3 p-1">
                <div class="oit-card" id="card-img-2">
                    <div class="oit-card-text">
                        <p id="major-2">Civil Engineering</p>
                    </div>
                </div>
            </td>
            <td class="col-3 p-1">
                <div class="oit-card" id="card-img-3">
                    <div class="oit-card-text">
                        <p id="major-3">Echocardiology</p>
                    </div>
                </div>
            </td>
            <td class="col-3 p-1">
                <div class="oit-card" id="card-img-4">
                    <div class="oit-card-text">
                        <p id="major-4">Mechanical Engineering</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="row" id="professors_heading">
            <td class="col-12">
                <h1>Get to know the staff</h1>
            </td>
        </tr>
        <tr class="row" id="professor_directory">
            <td class="col-12">
                <p>click <a href="/professors_page">here</a> to view directory</p>
            </td>
        </tr>
    </table>
    

    <!-- If there is a navbar there is no need to add the bootstrap bundle. -->
    <script src="build/bootstrap.bundle.js"></script>
</body>

</html>