<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">

<head>
    <%- include("head"); %>

    <title>OIT Info Home</title>
</head>

<body>
    <table class="container-fluid">
        <div id="page_banner">
            <tr class="row">
                <td class="col-8">
                    <img class="img-fluid" src="images/logo.png">
                </td>
            </tr>
        </div>
        <tr class="row" id="major_exploration">
            <td class="col-12">
                <h1 text-align="center">
                    Get to know your options
                </h1>
            </td>
        </tr>
        <tr class="row" id="popular_majors">
            <td class="col-12">
                <h2 text-align="center">Our most Popular Majors</h2>
            </td>
        </tr>
        <tr class="row">
            <!-- These still need the anchors for nav-->
            <!--I know it's sad that Software isn't here but these are the 2019 stats-->
            <td class="col-6 p-1">
                <a href="major?page=Diagnostic Medical Sonography">
                    <div class="oit-card" style="background-image: url('images/Majors/DiagnosticMedicalSonography/optimizedIMG_1705.jpg')">
                        <div class="oit-card-text">
                            <p id="major-1">Diagnostic Medical Sonography</p>
                        </div>
                    </div>
                </a>
            </td>
            <td class="col-6 p-1">
                <a  href="major?page=Mechanical Engineering">
                    <div class="oit-card" style="background-image: url('images/Majors/MechanicalEngineering/mech-engineering.jpg')">
                        <div class="oit-card-text">
                            <p id="major-2">Mechanical Engineering</p>
                        </div>
                    </div>
                </a>
            </td>
            <td class="col-6 p-1">
                <a href="major?page=Dental Hygiene">
                    <div class="oit-card" style="background-image: url('images/Majors/DentalHygiene/students-with-suzanne.jpg')">
                        <div class="oit-card-text">
                            <p id="major-3">Dental Hygiene</p>
                        </div>
                    </div>
                </a>
            </td>
            <td class="col-6 p-1">
                <a href="major_select">
                    <div class="oit-card" style="background-image: url('images/hootie_logo.png')">
                        <div class="oit-card-text">
                            <p id="major-4">More...</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr class="row">
            <td class="col-6">
                <h2>Get to know our staff & faculty!</h2>
            </td>
            <td class="col-6">
                <h2>Learn about our campus!</h2>
            </td>
        </tr>
        <tr class="row" id="professors_heading">
            <td class="col-6 p-1">
                <a href="professor_select?sort=department">
                    <div class="oit-card" style="background-image: url('images/Hootie-cutout.png');">
                        <div class="oit-card-text">
                            <p>Directory</p>
                        </div>
                    </div>
                </a>
            </td>
            <td class="col-6 p-1">
                <a href="building_select">
                    <div class="oit-card" style="background-image: url('images/Buildings/LearningResourceCenter/lrc1.jpg');">
                        <div class="oit-card-text">
                            <p>Campus Buildings</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
    </table>
    

    <!-- If there is a navbar there is no need to add the bootstrap bundle. -->
    <%- include("tail"); %>
</body>

</html>