<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <meta name="mobile-web-app-capable" content="yes">
    <title>Index</title>
</head>

<body>
    <h1 class="title">Link Page</h1>
    <div>
        <p>
            <a href="home_page">Home Page</a>
        </p>
        <p>
            <a href="building?page=purvine">Purvine Hall</a>
        </p>
        <p>
            <a href="building_select">Building Selector</a>
        </p>
        <p><a href="major?page=Software Engineering Technology">Software Engineering Technology</a></p>
        <p><a href="major?page=Accounting">Accounting</a></p>
        <p><a href="major_select">Major Select</a></p>
        <p><a href="aaaaaaaaaaaaaaaaaa">404</a></p>
        <p><a href="ejs_test">ejs test</a></p>
    </div>

<script src="build/bootstrap.bundle.js"></script>
</body>
</html>
