<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head"); %>

    <title>Index</title>
</head>

<body>
    <h1 class="title">Link Page</h1>
    <div>
        <% if (locals.message) { %> <p> <%= message %> </p> <% } %>

        <p><a href="home_page">Home Page</a></p>
        <hr/>
        <p><a href="building_select">Building Selector</a></p>
        <p><a href="building?page=Purvine">Purvine Hall</a></p>
        <hr/>
        <p><a href="major_select">Major Select</a></p>
        <p><a href="major?page=Software Engineering Technology">Software Engineering Technology</a></p>
        <p><a href="major?page=Accounting">Accounting</a></p>
        <hr/>
        <p><a href="professor_select">Professors Directory</a></p>
        <p><a href="professor?page=Todd Breedlove">Professor Todd Breedlove</a></p>
        <hr/>
        <p><a href="major?page=aaaaaaaaa">404 major test</a></p>
        <p><a href="old_building_select">Old Building Select</a></p>
    </div>
<%- include("tail"); %>
</body>
</html>
