<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head"); %>

    <title>Index</title>
</head>

<body>
    <h1 class="title">Link Page</h1>
    <div>
        <% if (locals.message) { %> <p> <%= message %> </p> <% } %>
        <p>
            <a href="home_page">Home Page</a>
        </p>
        <p>
            <a href="building?page=purvine">Purvine Hall</a>
        </p>
        <p>
            <a href="building_select">Building Selector</a>
        </p>
        <hr/>
        <p><a href="major?page=Software Engineering Technology">Software Engineering Technology</a></p>
        <p><a href="major?page=Accounting">Accounting</a></p>
        <hr/>
        <p><a href="major_select">Major Select</a></p>
        <p><a href="major?page=aaaaaaaaa">404 major test</a></p>
        <p><a href="old_building_select">Old Building Select</a></p>
        <p><a href="show_nav">Show nav bar</a></p>
        <p><a href="hide_nav">Hide nav bar</a></p>
    </div>
<script src="build/bootstrap.bundle.js"></script>
</body>
</html>
