<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/major_select.css">

    <meta name="mobile-web-app-capable" content="yes">
    <title>Major Select</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="sp-3 collapser p-1" type="button" data-bs-toggle="collapse" data-bs-target=".collapse1" aria-expanded="false" aria-controls=".collapse1">
                <div class="oit-card">
                    <div class="oit-card-text">
                        <p>the1</p>
                    </div>
                </div>
            </div>
                <div class="sp-3 collapse1 p-1 collapse">
                    <div class="oit-card">
                        <div class="oit-card-text">
                            <p>the2</p>
                        </div>
                    </div>
                </div>
                <div class="sp-3 collapse1 p-1 collapse">
                    <div class="oit-card">
                        <div class="oit-card-text">
                            <p>the3</p>
                        </div>
                    </div>
                </div>
                <div class="sp-3 collapse1 p-1 collapse">
                    <div class="oit-card">
                        <div class="oit-card-text">
                            <p>the4</p>
                        </div>
                    </div>
                </div>
                <div class="sp-3 p-1">
                    <div class="oit-card">
                        <div class="oit-card-text">
                            <p>the5</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>


    <script src="build/bootstrap.bundle.js"></script>
    <script src="js/major_select.js"></script>
</body>

</html>