<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div style="
    cursor: pointer;
    
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin: 0 10px;"
    onclick="history.back()">
        <p style="
        margin-bottom: 0;
        background: none;
        border: none;
        font: inherit;
        
        outline: inherit;">
            &#9664;
        </p>
        <p style="font-size: 0.75rem; margin-bottom: 0;">Back</p>
    </div>
    
    <a class="navbar-brand" href="/">
        <img src="https://www.oit.edu/themes/custom/oregontech/images/logo.png" alt="oit logo">
    </a>

    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="home_page" class="nav-link">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="building_select">
                    Buildings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="major_select">
                    Majors
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="professor_select">
                    Staff Directory
                </a>
            </li>
        </ul>
    </div>
</nav>
<%- include("tail"); %>
<script>
    
    // Adding in some css stuff because I'm unsure if there's a way to add css in what would
    // be the bottom of the page
    $(document).ready(() => {
        $("body").css("padding-bottom", $("nav").outerHeight(true));
        $(".navbar-brand img").css("width", "50%");
    });

    // Whenever the page, and in turn the navbar, resizes, update the padding on the bottom of the body.
    $(window).resize(() => {
        $("body").css("padding-bottom", $("nav").outerHeight(true));
    });
        
    var current = "<%- current %>";

    var links = $(".nav-item");
    for (let i = 0; i < links.length; i++) 
    {
        const link = links[i];
        if ($($(link).children("a")[0]).attr("href") === current) 
        {
            $(link).addClass("active");
            $($(link).children("a")[0]).addClass("active");
            $($(link).children("a")[0]).attr("href", "#");
            $($(link).children("a")[0]).append(
                "<span class=\"visually-hidden\">(current)</span>"
            );
        }
    }
</script>