<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head") %>
    <link rel="stylesheet" href="css/start.css">
    <title>Document</title>
</head>
<body>
    <div class="scroll" id="scroll">
        <div><img src="images/frog1.jpg"></div>
        <div><img src="images/frog2.jpg"></div>
        <div><img src="images/frog3.jpg"></div>
    </div>
    <footer>
        <a href="/"><h1 class="click">Tap here to start!</h1></a>
    </footer>
    <%- include("tail") %>
    <script src="js/start.js"></script>
</body>
</html>